node_modules/
packages/npm-container/
packages/**/.npm/
.npm/
.idea/

.meteor/local
.meteor/meteorite
.DS_Store
*.iml
*.sublime-project
*.sublime-workspace

dump
settings.json
settings.dev.json
settings.prod.json

examples/**/packages/
examples/**/.local/
examples/**/.npm/

